catboost==1.0.6
clickhouse-driver==0.2.4
eli5==0.13.0
fastscript==1.0.0
fastcore==1.4.5
jupyter_contrib_nbextensions==0.5.1
MulticoreTSNE==0.1
pandas-profiling==3.2.0
plotly_express==0.4.1
scikit-uplift==0.4.0
scrapy==2.6.1
streamlit==1.7.0
supervenn==0.4.1
yellowbrick==1.4
spacy==3.3.1
